In [1]:
import pandas as pd

In [2]:
citibike = pd.read_csv('201809-citibike-tripdata.csv')

In [70]:
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [16]:
citibike.shape

(1877884, 15)

In [19]:
citibike[['tripduration']].mean()/60

tripduration    16.125249
dtype: float64

In [37]:
citibike[citibike['start station id'] == citibike['end station id']].count()

tripduration               41364
starttime                  41364
stoptime                   41364
start station id           41364
start station name         41364
start station latitude     41364
start station longitude    41364
end station id             41364
end station name           41364
end station latitude       41364
end station longitude      41364
bikeid                     41364
usertype                   41364
birth year                 41364
gender                     41364
dtype: int64

In [49]:
citibike.groupby(['bikeid']).count()['starttime'].idxmax()

33875

In [66]:
citibike[['tripduration']].max()
citibike[citibike['tripduration'] == 2431651]['bikeid']

50843    17548
Name: bikeid, dtype: int64

In [71]:
citibike[citibike['start station id'] == None]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [77]:
citibike.groupby(['usertype']).mean()/60

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
usertype,,,,,,,,,,
Customer,33.415379,28.982928,0.678991,-1.233046,28.741096,0.678982,-1.233053,423.314430,32.948776,0.010609
Subscriber,13.332348,27.098704,0.678945,-1.233038,26.998444,0.678940,-1.233041,445.079432,33.003329,0.020634

In [ ]:
from geopy.distance import vincenty
f = lambda s: vincenty((s['start station latitude'],s['start station longitude']),(s['end station latitude'],s['end station longitude']))
#citibike[citibike['start station id'] != citibike['end station id']].apply(f,axis =1 ).mean()

/home/hvidsmen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

In [ ]:
from datetime import datetime
from dateutil import parser
parser.parse(citibike['starttime'][0])
f = lambda x: parser.parse(x['starttime']) 
c = citibike.apply(f,axis=1)
c = c[c.hour()>=6 & c.hour()<=12]
c